---
layout: page
title: "About"
description: "「物来顺应，未来不迎，当时不杂，既过不恋」"
header-img: "images/public/about2.jpg"
header-mask: 0.3
number: 3
---

<!-- 去掉中英文切换 multilingual-sel.html -->

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->

{% if site.disqus_shortname %}
<!-- <div class="container"> -->
<div class="row">
    <div class="col col-12">
        {% include disqus-comments.html %}
    </div>
</div>
<!-- </div> -->
{% endif %}