---
layout: page
title: "Diagram"
description: "「大音希声，大象无形」"
header-img: "images/gallery/the-great-day-of-his-wrath-john-martin.jpg"
header-mask: 0.3
number: 4
---

<!-- 去掉中英文切换 multilingual-sel.html -->

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include diagram/readme.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->

{% if site.disqus_shortname %}
<!-- <div class="container"> -->
<div class="row">
    <div class="col col-12">
        {% include disqus-comments.html %}
    </div>
</div>
<!-- </div> -->
{% endif %}