<div class="article col col-12">
    <!-- <div class="article__inner"> -->
  
      <!-- <div class="article__content"> -->

        <div class="article__head">
            <sup  class="article__archive__date" >
                {{ post.date | date_to_string }}
            </sup>
        </div>
  
        <h2 class="article__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} 
            
            </a>
        </h2>
  
  
      <!-- </div> -->
    <!-- </div> -->
  </div>